<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hello Vue</title>
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
		<!-- /Google Font -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="root">
			<header>
				<h1>Shop</h1>
			</header>

			<main>
				<div class="products" id="products">
					
					<div class="product" v-for="product in products" :key="product.id">
						<img :src="product.image" :alt="product.name">
						<h3>{{product.name}}</h3>
						<div class="price">Prezzo: {{product.price}}$</div>
						<button class="btn add-cart" @click="addToCart(product)">Aggiungi al carrello</button>
					</div>

				</div>
				<div class="cart">
					<h2>Carrello</h2>
					<ul class="cart-basket" id="cart-basket">
						<li v-for="product in cart" :key="product.id">
							<h4>{{product.name}}</h4>
							<div>{{product.price}}$</div>
							<button class="btn cart-remove" @click="removeToCart(product.id)">rimuovi</button>
						</li>
					</ul>

					<div class="total"><strong>Totale:</strong> <span id="total-price">{{getTotalPrice()}}$</span></div>
				</div>
			</main>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>